@font-face {
  font-family: "Fira_Mono";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/FiraMono-Regular.ttf) format(opentype);
}

@font-face {
  font-family: "Fira_Mono";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/FiraMono-Medium.ttf) format(opentype);
}

@font-face {
  font-family: "Fira_Mono";
  font-style: normal;
  font-weight: 700 bold;
  src: url(./assets/fonts/FiraMono-Bold.ttf) format(opentype);
}

:root {
  --font: Fira_Mono var(--sans-font);
  --hover-color: #00bfff;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  margin: auto 0;
  padding: 1.5rem 0;
  font-family: var(--font);
  font-weight: 400;
}

main > img {
  display: block;
  margin: 2rem auto;
}

.attribution {
  font-size: 0.25rem;
}

.icons {
  margin: 1rem auto;
  max-width: max-content;
}

.icons i {
  margin: 0 5px;
  transition: color 1s;
}

.icons i:hover {
  color: var(--hover-color);
}

main > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 1rem 0;
}

.icons > div {
  position: relative;
  display: inline-block;
}

.icons .tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: max-content;
  background-color: var(--accent-bg);
  color: var(--text);
  border: 3px solid var(--border);
  border-radius: 6px;
  text-align: center;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: var(--font);
  transition: opacity 2s;
  opacity: 0;
  /* left: -45%;
  top: 150%; */
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.25rem;
}

.icons .tooltip::after {
  content: "";
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent var(--border) transparent;
}

.icons div:hover > span,
.icons div:focus > span {
  visibility: visible;
  opacity: 1;
}

h1 {
  text-align: center;
}

nav a {
  text-decoration: none;
  transition: color 1s;
}

nav a:hover {
  color: var(--hover-color);
}

@media only screen and (max-width: 720px) {
  .fa-2xl {
    font-size: 1.4em;
  }
}
