:root {
  --sans-font: "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans",
    "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --hover-color: #00bfff;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  margin: auto 0;
  padding: 1.5rem 0;
}

main > img {
  display: block;
  margin: 2rem auto;
}

.attribution {
  font-size: 0.25rem;
}

.icons {
  /* margin: 1rem auto; */
  /* max-width: max-content; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.icons i {
  margin: 0 10px;
  transition: color 800ms;
}

.icons i:hover {
  color: var(--hover-color);
}

main > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 1rem 0;
}

.icons > div {
  position: relative;
  display: inline-block;
  margin: 5px 0;
}

.icons .tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: max-content;
  background-color: var(--accent-bg);
  color: var(--text);
  border: 3px solid var(--border);
  border-radius: 6px;
  text-align: center;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: var(--font);
  transition: opacity 1s;
  opacity: 0;
  /* left: -45%;
  top: 150%; */
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.25rem;
}

.icons .tooltip::after {
  content: "";
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent var(--border) transparent;
}

.icons div:hover > span,
.icons div:focus > span {
  visibility: visible;
  opacity: 1;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  transition: color 1s;
}

nav a:hover {
  color: var(--hover-color);
}

@media only screen and (max-width: 720px) {
  html {
    font-size: min(16px, 3vw);
  }
  .fa-2xl {
    font-size: 1.5rem;
  }
  .icons .tooltip {
    border-width: 1px;
  }
  .icons .tooltip::after {
    border-width: 4px;
    bottom: 90%;
  }
}
